name: Generate Invaders SVG

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install node-fetch
      - run: node generator.js
      - run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add invaders.svg
          git commit -m "update invaders animation"
          git push
